<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./img/favicon.png" type="image/png">
    <title>Cloud_storage</title>

    <link rel="stylesheet" type="text/css" href="../../css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
</head>
<body>
    <header class="header">
        <div class="container header__container">
            <nav class="nav header__nav">
                <div class="logo flex">
                    <a href="#">
                        <img src="../../img/logotip.png" alt="УниверОблако">
                    </a>
                </div>
                <div>
                    <button class="btn-reset btn">Вход</button>
                    <button class="btn-reset btn">Регистрация</button>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <section class="cloud">
            <div class="container cloud__container">
                <h1 class="title cloud__title">
                    Добро пожаловать в УниверОблако
                </h1>
                <ul class="list-reset cloud__list">
                    <li class="cloud__item">User</li>
                    <li class="cloud__item">User</li>
                    <li class="cloud__item">User</li>
                    <li class="cloud__item">User</li>
                </ul>
            </div>

        </section>
    </main>

</body>
</html>
